@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
}

[x-cloak] {
  @apply hidden;
}
