---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

import { getCollection } from "astro:content";

const allLinks = await getCollection("links");
---

<Layout>
  <main>
    <article>
      <div class="container mx-auto">
        <h1 class="sr-only">Diz Toba</h1>
        <nav class="grid min-h-screen gap-8 grid-cols-2 md:grid-cols-3">
          {
            allLinks.map((link) => (
              <a
                href={link.data.url}
                target="_blank"
                class:list={[
                  "grid place-content-center transition-transform outline-0",
                  "focus:scale-110 hover:scale-110",
                ]}
              >
                <Icon name={link.data.icon} class="w-80 h-80 text-current" />
              </a>
            ))
          }
        </nav>
      </div>
    </article>
  </main>
</Layout>
