---
import Layout from '@/layouts/Layout.astro'
import SignUpForm from '@/components/SignUpForm.astro'
import Foo from '@/components/Foo.astro'
import Video from '@/components/Video.astro'
---

<Layout>
  <div
    x-data="app"
    class="relative flex w-full flex-col items-center justify-center"
  >
    <SignUpForm />
    <Foo />
    <Video />
  </div>
</Layout>
