---
import Layout from '@/layouts/Layout.astro'
import Links from '@/components/Links.astro'
import Dialog from '@/components/dialog/Dialog.astro'
import DialogPanel from '@/components/dialog/DialogPanel.astro'
import DialogOverlay from '@/components/dialog/DialogOverlay.astro'
import SignUpForm from '@/components/SignUpForm.astro'
---

<Layout>
  <main x-data="app" class="absolute inset-0 z-10">
    <article>
      <h1 class="sr-only">Diz Toba</h1>
      <Links />
    </article>
    <template x-if="signUpForm">
      <template x-teleport="body">
        <Dialog static :initial-focus="$refs.email">
          <DialogOverlay />
          <div
            class="relative flex min-h-screen items-center justify-center p-6"
          >
            <DialogPanel>
              <SignUpForm />
            </DialogPanel>
          </div>
        </Dialog>
      </template>
    </template>
  </main>
</Layout>
