---

---

<div data-component="video"></div>

<script>
  import Player from '@vimeo/player'

  const options = {
    id: 507939847,
    background: true,
    width: 640,
  }

  const player = new Player(
    document.querySelector('[data-component="video"]'),
    options,
  )

  player.on('play', function () {
    console.log('played the video!')
  })
</script>
