---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props
---

<div
  x-dialog:overlay
  x-transition
  class:list={['fixed inset-0 bg-black/90', className]}
  {...props}
>
  <slot />
</div>
