---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/utils/index'

interface Props extends HTMLAttributes<'div'> {
  model: string
  static: boolean
}

const { model, class: className, ...props } = Astro.props
---

<div
  x-dialog
  x-model={model}
  x-cloak
  static
  :initial-focus="$refs.email"
  class:list={[cn('fixed inset-0 z-10', className)]}
  {...props}
>
  <slot />
</div>
