---
import type { HTMLAttributes } from 'astro/types'

import { cn } from '@/utils'

interface Props extends HTMLAttributes<'div'> {}
---

<button
  x-on:click="signUpForm = false"
  type="button"
  aria-label="Close modal"
  class:list={cn(
    'fixed top-0 right-0 z-50 grid h-8 w-8 cursor-pointer place-items-center',
  )}
>
  &cross;
</button>
