---
import { SEO } from 'astro-seo'

import { site } from '@/constants'

import '@/styles/main.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={site.name}
      description={site.description}
      openGraph={{
        basic: {
          title: site.name,
          type: 'A type.',
          image: site.image.secure_url,
          url: site.url,
        },
      }}
      twitter={{
        creator: '@dtoba',
      }}
      extend={{
        link: [
          { rel: 'icon', type: 'image/png', href: '/favicon.png' },
          { rel: 'author', type: 'text/plain', href: '/humans.txt' },
        ],
        meta: [
          {
            name: 'twitter:image',
            content: site.image.secure_url,
          },
          { name: 'twitter:title', content: site.name },
          { name: 'twitter:description', content: site.description },
        ],
      }}
    />
  </head>
  <body class="relative grid h-screen w-screen overflow-hidden">
    <slot />
    <iframe
      src="https://player.vimeo.com/video/507939847?loop=1&badge=0&controls=0&autoplay=1&muted=1&autopause=0&player_id=0&app_id=58479"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      title="Radial Light"
      class="absolute top-1/2 left-1/2 -z-10 min-h-full min-w-full -translate-x-1/2 -translate-y-1/2 scale-250"
    ></iframe>
  </body>
</html>
