---
import { SEO } from 'astro-seo'

import { site } from '@/constants'

import '@/styles/main.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={site.name}
      description={site.description}
      openGraph={{
        basic: {
          title: site.name,
          type: 'A type.',
          image: site.image.secure_url,
          url: site.url,
        },
      }}
      twitter={{
        creator: '@dtoba',
      }}
      extend={{
        link: [
          { rel: 'icon', type: 'image/png', href: '/favicon.png' },
          { rel: 'author', type: 'text/plain', href: '/humans.txt' },
        ],
        meta: [
          {
            name: 'twitter:image',
            content: site.image.secure_url,
          },
          { name: 'twitter:title', content: site.name },
          { name: 'twitter:description', content: site.description },
        ],
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
